* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html,
body {
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.nav-container {
    background-color: rgb(2, 2, 2);
    width: 100%;
    min-height: 550px;
    height: auto;
    color: white;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    background-color: rgb(39, 39, 82);

}

.nexora>h1 {
    font-size: 40px;
    align-items: start;
    color: white;

}

.nav-links {
    display: flex;
    list-style: none;
    color: rgb(252, 251, 250);
}

.links {
    display: flex;
    gap: 40px;
    font-size: larger;

}

.let {
     font-weight: bold;
    border-radius: 12px;
    background: linear-gradient(90deg, #5b5ff7, #6c4dff);
    color: white;
    border: none;
    padding: 6px 16px;
    font-size: 15px;


}

.nav-center {
    color: white;
    background-color: black;
}

.nav-center>h1>li {
    background-color: rgb(29, 26, 26);
    border-radius: 25px;
    width: 200px;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 30px;
    padding-left: 30px;

}

.nav-center>h2 {
    color: white;
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 75px;
    margin-left: 30px;
    width: 50%;
    margin-top: 10px;
}

.nav-center>p {
    color: antiquewhite;
    font-size: medium;
    padding-left: 30px;
    padding-top: 15px;

}

.nav-end {
    padding-top: 60px;
    color: hsl(0, 0%, 3%);
    background-color: white;

}

.nav-end>h3 {
    text-align: center;
    color: black;
    font-size: large;
}

.button {
    width: 400px;
    display: flex;
    gap: 20px;

}

.get {
    margin-top: 10px;
    margin-left: 30px;
     font-weight: bold;
    margin-bottom: 15px;
    border-radius: 12px;
    background: linear-gradient(90deg, #5b5ff7, #6c4dff);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 15px;
    gap: 12px;
    
}

.view { 
     margin-top: 10px;
    margin-left: 30px;
     font-weight: bold;
    margin-bottom: 15px;
    border-radius: 12px;
    background: linear-gradient(90deg, #5b5ff7, #6c4dff);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 15px;
    gap: 12px;
    
}

.icon {
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-content: space-around;
    padding-top: 30px;
    font-size: 35px;
    margin-left: -40px;
    margin-top: -10px;

}

.Services {
    width: 100%;
    min-height: 750px;
    height: auto;
    padding: 60px 20px;
    margin-top: 100px;


}

.heading {
    text-align: center;
    padding-top: 20px;
}

.heading>h3 {
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;


}

.heading>p {
    padding-top: 30px;
    font-weight: 500;
    font-size: 20px;
}

.solution {
    color: black;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 100px;
    align-items: center;
    margin-top: 100px;

}



.design {
    border-color: whitesmoke;
    border-width: 2px;
    background-color: antiquewhite;

}

.solution i {
    font-size: 56px;
    margin-bottom: 18px;
    display: inline-block;
    color: blue;
}

.design>h1 {
    font-size: 40px;
    font-weight: bold;
}

.design>p {
    font-size: 20px;
    padding-top: 20px;
}

.learn {
    color: rgb(6, 83, 155);
    font-size: x-large;
}

.portfolio {
    width: auto;
    height: auto;
    margin-top: 100px;
}

.portfolio>h1 {
    text-align: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
    font-family:sans-serif;
    margin-bottom: 15px;

}

.work{
    list-style: none;
    color: rgb(20, 20, 20); 
    padding-top: 20px;  
}

.works{
    display: flex;
    gap: 40px;
    font-size: 30px;
    justify-content: center;
    padding-top: 20px;

}
.works :active{
    color: blue;

}

.project{
    display: flex;
    justify-content:space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;

    
}
.image{
       border-color: whitesmoke;
    border-width: 1px;
    background-color: rgb(226, 220, 220);
    border-radius: 5px;

}


.image>img{
    width: 250px;
    height: 220px;
    border-radius: 10px;
    object-fit: contain;
    margin-top: 10px;
    
}

.image>h1{
    font-weight: bold;
      font-size: 30px;
    font-weight: bold;
    margin-top: -20px;
}
.image>p{
      font-size: 20px;

}


.project-btn{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 12px;
    background: linear-gradient(90deg, #5b5ff7, #6c4dff);
    color: white;
    border: none;
    padding: 12px 35px;
    font-size: 15px;
    gap: 12px;
    margin-left: 45%;
    margin-top: 40px;

}

.why{
    width: auto;
    min-height: 700px;
    height: auto;
    margin-top: 60px;

}
.content{ 
    display: flex;
    margin-left:130px;
    padding-top: 160px;
    
    
}
.imp>h1{
    font-size: 50px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30px;
}

.imp>p{
    font-size:20px;
    padding-bottom: 10px;
}

.us{
    font-weight: bold;
    border-radius: 12px;
    background: linear-gradient(90deg, #5b5ff7, #6c4dff);
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 15px;
    margin-top: 30px;
    
}
.source{
display: flex;
flex-wrap:wrap;
flex-basis: 50%;
padding-top: 15px;
font-size: large;
gap: 50px;
}

.part>i{
    padding-top: 25px;
    font-size: 40px;
    margin-left: -40px;
    margin-top: -10px;
    color: blue;

}
.part>h1{  font-size: 24px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}



    




